/********************
Design for whole page
********************/
html{
  scroll-behavior: smooth;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/****************
Frontpage-picture
****************/
#frontpage{
  border-top: #D5BC77 solid 1px;
}

/* Repsonsive-design make picture stay below navbar */
@media screen and (max-width: 1024px) {
  #frontpage {
   padding-top: 30px; } }

@media screen and (max-width: 640px) {
  #frontpage {
   padding-top: 50px; }
  }

/*************
Intro-section
*************/
#intro{
    border-top: #D5BC77 solid 1px;
    padding:  110px 0;
    background: whitesmoke; 
}
  
/* Responsive design page size */
  @media screen and (max-width: 1024px) {
    #intro {
      padding: 70px 0; } }
  @media screen and (max-width: 640px) {
    #intro {
        padding: 50px 30px 50px 30px; } 
}

/* Headline */
#intro h3{
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: bolder;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

/* Responsive design font size */
    @media screen and (max-width: 640px) {
      #intro h3 {
      font-size: 30px; } 
  }

/* Paragraph */
#intro p{
  font-size: 20px;
  line-height: 30px;
  padding: 0 20%;
}

/* Responsive design paragraph */
  @media screen and (max-width: 1024px) {
    #intro p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    #intro p {
      padding: 0;
      font-size: 18px; } 
}

/*********
Portofolio
*********/
#portfolio{
    border-top: #D5BC77 solid 1px;
}

#portfolio{
  border-top: #D5BC77 solid 1px;
  padding:  110px 0;
  background: white; 
}

/* Responsive design page size */
@media screen and (max-width: 1024px) {
  #portfolio {
    padding: 70px 0; } }
@media screen and (max-width: 640px) {
  #portfolio {
      padding: 50px 30px 50px 30px; } 
}

/***********
Flow section
***********/

  .col {
   background-color: #E39D8C;
   padding: 10px;
   margin: 30px;
   box-shadow: 5px 5px 5px #6e6e6e;
   transition: all .6s ease-in-out;
   border-radius: 5px;
  }

  .col:hover{
    transform: scale(1.1);
    background-color: #F1CDBE;
  }

  .col h3{
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: bolder;
    }

  .row{
    padding: 0 20px 0 20px;
  }  

/* Responsive design box size */
  @media screen and (max-width: 900px) {
    .col {
      width: 100%;
      margin: 50px; } 
}

  @media screen and (max-width: 700px) {
    .col {
      width: 100%;
      margin: 20px; } 
}

/*******
About me
********/
#aboutme{
  border-top: #D5BC77 solid 1px;
  padding: 110px 0;
  background: whitesmoke; 
}

/* Responsive design */
@media screen and (max-width: 1024px) {
  #aboutme {
    padding: 70px 0; } }
@media screen and (max-width: 640px) {
  #aboutme {
    padding: 50px 30px 50px 30px; } 
}

/* Headline */
#aboutme h3{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Responsive design font size */
  @media screen and (max-width: 640px) {
    #aboutme h3 {
    font-size: 30px; } 
}

/* Paragraph */
  #aboutme p{
  font-size: 20px;
  line-height: 30px;
  padding: 0 20%;
}

/* Responsive design paragraph */
  @media screen and (max-width: 1024px) {
    #aboutme p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    #aboutme p {
      padding: 0;
      font-size: 18px; } 
}

iframe {
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 600px;
    height: 400px;
    margin-top: 30px;
    border: #D5BC77 solid 1px;
}

/**************
Contact section
**************/
#contact{
  border-top: #D5BC77 solid 1px;
  text-align: center;
  padding: 110px 0;
  background: white; }

/* Responsive design */
  @media screen and (max-width: 1024px) {
    #contact {
      padding: 70px 0; } }
  @media screen and (max-width: 640px) {
    #contact {
        padding: 50px 30px 50px 30px; } 
}

/* Headline */
#contact h3{
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: bolder;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Responsive design font size */
  @media screen and (max-width: 640px) {
    #contact h3 {
    font-size: 40px; } 
}

/* Paragraph */
#contact p{
  font-size: 20px;
  line-height: 30px;
  padding: 0 20%;
}

/* Responsive design paragraph */
  @media screen and (max-width: 1024px) {
    #contact p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    #contact p {
      padding: 0;
      font-size: 18px; } 
}

/* Button */
.contact .btn{
    padding: 10px;
    margin: 30px;
    background-color: #E39D8C !important;
    box-shadow: 5px 5px 5px #6e6e6e;
    border: none;
}

.contact .btn a{
  text-decoration: none;
}

.contact .btn-light:hover{
    background-color: #F1CDBE !important;
    transition: all .6s ease-in-out;
    transform: scale(1.1);
} 

@media screen and (max-width: 640px) {
  #contact .btn {
  font-size: 16px; } 
}

/*****************
Social media icons
*****************/
.contact .icons{
    padding-top: 20px;
}

.contact .icons a{
    padding: 0 15px 0 15px;
    text-decoration: none;
    color: black;
    text-transform: uppercase; 
}

.contact .icons a:hover{
    color: #F1CDBE;
}