body{
    font-family: 'Source Sans Pro', sans-serif;
}

/* Forside */
.forside{
border-top: #D5BC77 solid 1px;
}

/* Portfolio intro*/
.intro{
    border-top: #D5BC77 solid 1px;
    text-align: center;
    padding: 7.5em 0;
    background: whitesmoke; }
  
    @media screen and (max-width: 1024px) {
      .intro {
        padding: 5em 0; } }
    @media screen and (max-width: 640px) {
      .intro {
          padding: 3.125em 30px 3.125em 30px; } 
  }

  #intro h3{
    font-size: 2.5em;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 0.625em;
    text-transform: uppercase; 
    text-shadow: 1px 1px #888888;}
    @media screen and (max-width: 640px) {
      #intro h2 {
        font-size: 1.875em; } 
  }

  #intro p{
  font-size: 1.375em;
  line-height: 1.4em;
  padding: 0 20%;
  margin-top: 1em; }
  @media screen and (max-width: 1024px) {
    /* line 982, scss/style.scss */
    #intro p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    /* line 982, scss/style.scss */
    #intro p {
      padding: 0;
      font-size: 1.125em; } 
}

/* Portfolio */
.portfolio{
    border-top: #D5BC77 solid 1px;
    }


/* Om mig */
#omMig{
  border-top: #D5BC77 solid 1px;
  text-align: center;
  padding: 7.5em 0;
  background: white; 
  background-image: url(/images/kalktekstur.jpg);
  background-size: cover;
  object-fit: cover;
  color: black;
  }

  @media screen and (max-width: 1024px) {
    #omMig {
      padding: 10em 0; } }
  @media screen and (max-width: 640px) {
    #omMig {
      padding: 3.125em 0;
    padding: 3.125em 30px 3.125em 30px ; }
    }

  #omMig h3{
    font-size: 2.5em;
    letter-spacing: 4px;
    font-weight: bold;
    margin-bottom: 0.625em;
    text-transform: uppercase;
    text-shadow: 1px 1px #888888; }
    @media screen and (max-width: 640px) {
      #omMig h2 {
        font-size: 1.875em; } 
  }

  #omMig p{
  font-size: 1.375em;
  line-height: 1.4em;
  padding: 0 20%;
  margin-top: 1em; }
  @media screen and (max-width: 1024px) {
    /* line 982, scss/style.scss */
    #omMig p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    /* line 982, scss/style.scss */
    #omMig p {
      padding: 0;
      font-size: 1.125em; } 
}
  
.billedeAfMig {
    display: grid;
    height: 100%;
}
iframe {
    max-width: 100%;
    height: auto;
    margin: auto;
    width: 600px;
    height: 400px;
    margin-top: 30px;
    border: #D5BC77 solid 1px;
}

/* Kontakt */
#kontakt{
  border-top: #D5BC77 solid 1px;
  text-align: center;
  padding: 7.5em 0;
  background: white; }

  @media screen and (max-width: 1024px) {
    #kontakt {
      padding: 5em 0; } }
  @media screen and (max-width: 640px) {
    #kontakt {
        padding: 3.125em 30px 3.125em 30px; } 
}

.kontakt .button a{
    text-decoration: none;
    font-size: 2vw;
}

.kontakt .btn{
    padding: 15px;
    margin: 50px;
    background-color: #E39D8C !important;
    text-decoration: none;
    transition: all .6s ease-in-out;
    box-shadow: 5px 5px 5px #383838;
    border: none;
    
}

.kontakt .btn a{
  text-decoration: none;
}

.kontakt .btn:hover{
  transform: scale(1.1);
}

.kontakt .btn-light:hover{
    background-color: #F1CDBE !important;
    transition: all .4s ease-in-out;
}

.kontakt a:hover{
  color: #F1CDBE;
  transition: all .4s ease-in-out;
}

.ikoner{
    padding: 20px;
}

.kontakt h3{
  font-size: 2.5em;
  letter-spacing: 4px;
  font-weight: bold;
  margin-bottom: 0.625em;
  text-transform: uppercase;
  text-shadow: 1px 1px #888888; }
  @media screen and (max-width: 640px) {
    #kontakt h2 {
      font-size: 1.875em; } 
}

.kontakt p{
  font-size: 1.375em;
  line-height: 1.4em;
  padding: 0 20%;
  margin-top: 1em;}

  @media screen and (max-width: 1024px) {
    /* line 982, scss/style.scss */
    #kontakt p {
      padding: 0 10%; } }
  @media screen and (max-width: 640px) {
    /* line 982, scss/style.scss */
    #kontakt p {
      padding: 0;
      font-size: 1.125em; } 
}

.kontakt a:hover{
  text-decoration: none;
}

/* Sociale medier */ 
.kontakt .ikoner{
    padding: 20px;
}

.kontakt .ikoner a{
    padding: 10px;
    text-decoration: none;
    color: black;
    text-transform: uppercase; 
}

.kontakt .ikoner a:hover{
    color: #F1CDBE;
}






